@import '../../assets/Css/Menustyle.css';
.Rmenu{
  background-color: White;
  color: black;
  display: flex;
  flex-direction: column;
  margin-right: 1em;
.download{
  svg{
    width: 2em;
    height: auto;
  }
  
}
.Contact{
  svg{
    width: 2em;
    height: auto;
  }
  
}
}
nav{
  a{
    cursor: pointer;
  }
}
