<div class="parallax">
<div class="card mx-auto shadowcard">
<div class="header">
<h1>JosephSamuel Buthuri</h1>
</div>
<div class="mainContent">
<div class="ConnLeft">
  <div class="LeftMain">
    <p>Newly graduated web and android developer offering enthusiasm and understanding of various programming languages. Looking to join organization where opportunity for growth and professional development is embraced.</p>
  <span>
    <label for="workTablw">Work History <hr></label>
    <table class="workTablw" id="workTablw">
      <tr>
        <th class="thDate">
          Mar '19 – April '19
        </th>
        <th>
          Web Developer Intern
        </th>
      </tr>
      <tr>
        <td></td>
        <td class="tdItalicP">
          Moirai Technology
        </td>
      </tr>
      <tr>
        <td> </td>
        <td>
          <ul>
            <li>
              Designed an OCR webpage structure with user login system.
            </li>
          </ul>
        </td>
      </tr>
    </table>
  </span>
  <span>
    <label for="workTablw">Education <hr></label>
    <table class="workTablw" id="workTablw">
      <tr>
        <th class="thDate">
          April-2020
        </th>
        <th>
          Computer Science and Engineering
        </th>
      </tr>
      <tr>
        <td></td>
        <td class="tdItalicP">
          Mallareddy engineering college - Hyderabad
        </td>
      </tr>
      <tr>
        <td> </td>
        <td>
          Graduated with <b>8.44 CGPA</b>
        </td>
      </tr>
      <tr>
        <th class="thDate">
          March-2016
        </th>
        <th>
          XII – MPC
        </th>
      </tr>
      <tr>
        <td></td>
        <td class="tdItalicP">
          Sri Chaitanya Jr College - Hyderabad
        </td>
      </tr>
      <tr>
        <td> </td>
        <td>
          Scored: <b>89 %</b>
        </td>
      </tr>
      <tr>
        <th class="thDate">
          March-2014
        </th>
        <th>
          High School
        </th>
      </tr>
      <tr>
        <td></td>
        <td class="tdItalicP">
          Krishnaveni Talent School – Vemulawada
        </td>
      </tr>
      <tr>
        <td> </td>
        <td>
          Scored <b>8.8 CGPA</b> out of 10 CGPA
        </td>
      </tr>
    </table>
  </span>
  <span>
    <label for="ProjectsUl">Projects <hr></label>
    <ul id="ProjectsUl">
      <li>
        <a href="http://reg.lala.dx.am" target="blank">College Registration form <img src="../../assets/img/external-link-alt-solid.svg" alt="external-link-alt-solid"></a>
      </li>
      <li>
        <a href="http://lala.dx.am/att/" target="blank">College Attendance update <img src="../../assets/img/external-link-alt-solid.svg" alt="external-link-alt-solid"></a>
      </li>
      <li>
        <a href="https://bjsamuel.tk/read/" target="blank">Sample Pdf Library  <img src="../../assets/img/external-link-alt-solid.svg" alt="external-link-alt-solid"></a>
      </li>
      <li>
        <a href="https://bjsamuel.tk/attendance.php" target="blank">College Attendance Fetch <img src="../../assets/img/external-link-alt-solid.svg" alt="external-link-alt-solid"></a>
      </li>
      <li>
        <a href="https://huddle.bjsam.ga/" target="blank">Responsive sample web page using Taiwindcss <img src="../../assets/img/external-link-alt-solid.svg" alt="external-link-alt-solid"></a>
      </li>
      <li>
        <a href="https://bit.ly/3cK3gt9" target="blank">Simple News app based on location <img src="../../assets/img/external-link-alt-solid.svg" alt="external-link-alt-solid"></a>
      </li>
    </ul>
    </span>
    <span>
      <label for="OtherLinksUL">Other Links <hr></label>
      <ul id="OtherLinksUL">
        <li>
          <a href="https://github.com/xXCHINNAXx/" target="blank">GitHub profile <img src="../../assets/img/external-link-alt-solid.svg" alt="external-link-alt-solid"></a>
        </li>
        <li>
          <a href="https://bit.ly/3cPJY5Q" target="blank">Quick Labs public profile  <img src="../../assets/img/external-link-alt-solid.svg" alt="external-link-alt-solid"></a>
        </li>
       
      </ul>
      </span>
  </div>
</div>
<div class="ConnRight">
<div class="RightMailContent">
  <span>
    <label for="RContact">Contact <hr></label>
   <table id="RContact" >
   <tr>
    <td style="font-weight: 700;text-align: left;">
      Address
    </td>
  </tr>
  <tr>
    <td>
      Hyderabad, TG, 500078.
    </td>
  </tr>
  <tr>
    <td style="font-weight: 700;text-align: left;">
      Email 
    </td>
  </tr>
  <tr>
    <td>
     <a style="text-decoration: none;" href="mailto:Josephsamuel8985@gmail.com">Josephsamuel8985@gmail.com</a>
    </td>
  </tr>
   </table>
    </span>
    <span id="RTechinicalSkillsSpan">
      <label for="RTechinicalSkills">Technical Skills <hr></label>
     <table id="RTechinicalSkills" border="0">
   <tr>
     <td>Html</td>
     <td>
      <svg viewBox="0 0 500 100" id="FIELD_RATV" type="count">
        <circle cx="50" cy="50" r="40" fill="#576d7b" stroke-width="4" class="default-fill"></circle>
        <circle cx="150" cy="50" r="40" fill="#576d7b" stroke-width="4" class="default-fill"></circle>
        <circle cx="250" cy="50" r="40" fill="#576d7b" stroke-width="4" class="default-fill"></circle>
        <circle cx="350" cy="50" r="40" fill="#576d7b" stroke-width="4" class="default-fill"></circle>
        <circle cx="450" cy="50" r="40" fill="#d5d6d6" stroke-width="4"></circle>
    </svg>
     </td>
   </tr>
   <tr>
    <td>Css </td>
    <td>
      <svg viewBox="0 0 500 100" id="FIELD_RATV" type="count">
        <circle cx="50" cy="50" r="40" fill="#576d7b" stroke-width="4" class="default-fill"></circle>
        <circle cx="150" cy="50" r="40" fill="#576d7b" stroke-width="4" class="default-fill"></circle>
        <circle cx="250" cy="50" r="40" fill="#576d7b" stroke-width="4" class="default-fill"></circle>
        <circle cx="350" cy="50" r="40" fill="#576d7b" stroke-width="4" class="default-fill"></circle>
        <circle cx="450" cy="50" r="40" fill="#d5d6d6" stroke-width="4"></circle>
    </svg>
    </td>
  </tr>
  <tr>
    <td>Php </td>
    <td>
      <svg viewBox="0 0 500 100" id="FIELD_RATV" type="count">
        <circle cx="50" cy="50" r="40" fill="#576d7b" stroke-width="4" class="default-fill"></circle>
        <circle cx="150" cy="50" r="40" fill="#576d7b" stroke-width="4" class="default-fill"></circle>
        <circle cx="250" cy="50" r="40" fill="#576d7b" stroke-width="4" class="default-fill"></circle>
        <circle cx="350" cy="50" r="40" fill="#d5d6d6" stroke-width="4" class="default-fill"></circle>
        <circle cx="450" cy="50" r="40" fill="#d5d6d6" stroke-width="4"></circle>
    </svg>
    </td>
  </tr>
  <tr>
    <td>C  </td>
    <td>
      <svg viewBox="0 0 500 100" id="FIELD_RATV" type="count">
        <circle cx="50" cy="50" r="40" fill="#576d7b" stroke-width="4" class="default-fill"></circle>
        <circle cx="150" cy="50" r="40" fill="#576d7b" stroke-width="4" class="default-fill"></circle>
        <circle cx="250" cy="50" r="40" fill="#d5d6d6" stroke-width="4" class="default-fill"></circle>
        <circle cx="350" cy="50" r="40" fill="#d5d6d6" stroke-width="4" class="default-fill"></circle>
        <circle cx="450" cy="50" r="40" fill="#d5d6d6" stroke-width="4"></circle>
    </svg>
    </td>
  </tr>
  <tr>
    <td>Cpp </td>
    <td>
      <svg viewBox="0 0 500 100" id="FIELD_RATV" type="count">
        <circle cx="50" cy="50" r="40" fill="#576d7b" stroke-width="4" class="default-fill"></circle>
        <circle cx="150" cy="50" r="40" fill="#576d7b" stroke-width="4" class="default-fill"></circle>
        <circle cx="250" cy="50" r="40" fill="#d5d6d6" stroke-width="4" class="default-fill"></circle>
        <circle cx="350" cy="50" r="40" fill="#d5d6d6" stroke-width="4" class="default-fill"></circle>
        <circle cx="450" cy="50" r="40" fill="#d5d6d6" stroke-width="4"></circle>
    </svg>
    </td>
  </tr>
  <tr>
    <td>Java </td>
    <td>
      <svg viewBox="0 0 500 100" id="FIELD_RATV" type="count">
        <circle cx="50" cy="50" r="40" fill="#576d7b" stroke-width="4" class="default-fill"></circle>
        <circle cx="150" cy="50" r="40" fill="#576d7b" stroke-width="4" class="default-fill"></circle>
        <circle cx="250" cy="50" r="40" fill="#d5d6d6" stroke-width="4" class="default-fill"></circle>
        <circle cx="350" cy="50" r="40" fill="#d5d6d6" stroke-width="4" class="default-fill"></circle>
        <circle cx="450" cy="50" r="40" fill="#d5d6d6" stroke-width="4"></circle>
    </svg>
    </td>
  </tr>
  <tr>
    <td>Scss </td>
    <td>
      <svg viewBox="0 0 500 100" id="FIELD_RATV" type="count">
        <circle cx="50" cy="50" r="40" fill="#576d7b" stroke-width="4" class="default-fill"></circle>
        <circle cx="150" cy="50" r="40" fill="#576d7b" stroke-width="4" class="default-fill"></circle>
        <circle cx="250" cy="50" r="40" fill="#576d7b" stroke-width="4" class="default-fill"></circle>
        <circle cx="350" cy="50" r="40" fill="#d5d6d6" stroke-width="4" class="default-fill"></circle>
        <circle cx="450" cy="50" r="40" fill="#d5d6d6" stroke-width="4"></circle>
    </svg>
    </td>
  </tr>
  <tr>
    <td>Tailwind css </td>
    <td>
      <svg viewBox="0 0 500 100" id="FIELD_RATV" type="count">
        <circle cx="50" cy="50" r="40" fill="#576d7b" stroke-width="4" class="default-fill"></circle>
        <circle cx="150" cy="50" r="40" fill="#576d7b" stroke-width="4" class="default-fill"></circle>
        <circle cx="250" cy="50" r="40" fill="#d5d6d6" stroke-width="4" class="default-fill"></circle>
        <circle cx="350" cy="50" r="40" fill="#d5d6d6" stroke-width="4" class="default-fill"></circle>
        <circle cx="450" cy="50" r="40" fill="#d5d6d6" stroke-width="4"></circle>
    </svg>
    </td>
  </tr>
  <tr>
    <td>Android Studio </td>
    <td>
      <svg viewBox="0 0 500 100" id="FIELD_RATV" type="count">
        <circle cx="50" cy="50" r="40" fill="#576d7b" stroke-width="4" class="default-fill"></circle>
        <circle cx="150" cy="50" r="40" fill="#576d7b" stroke-width="4" class="default-fill"></circle>
        <circle cx="250" cy="50" r="40" fill="#576d7b" stroke-width="4" class="default-fill"></circle>
        <circle cx="350" cy="50" r="40" fill="#d5d6d6" stroke-width="4" class="default-fill"></circle>
        <circle cx="450" cy="50" r="40" fill="#d5d6d6" stroke-width="4"></circle>
    </svg>
    </td>
  </tr>
  <tr>
    <td>Ionic </td>
    <td>
      <svg viewBox="0 0 500 100" id="FIELD_RATV" type="count">
        <circle cx="50" cy="50" r="40" fill="#576d7b" stroke-width="4" class="default-fill"></circle>
        <circle cx="150" cy="50" r="40" fill="#d5d6d6" stroke-width="4" class="default-fill"></circle>
        <circle cx="250" cy="50" r="40" fill="#d5d6d6" stroke-width="4" class="default-fill"></circle>
        <circle cx="350" cy="50" r="40" fill="#d5d6d6" stroke-width="4" class="default-fill"></circle>
        <circle cx="450" cy="50" r="40" fill="#d5d6d6" stroke-width="4"></circle>
    </svg>
    </td>
  </tr>
  <tr>
    <td>MySql </td>
    <td>
      <svg viewBox="0 0 500 100" id="FIELD_RATV" type="count">
        <circle cx="50" cy="50" r="40" fill="#576d7b" stroke-width="4" class="default-fill"></circle>
        <circle cx="150" cy="50" r="40" fill="#576d7b" stroke-width="4" class="default-fill"></circle>
        <circle cx="250" cy="50" r="40" fill="#d5d6d6" stroke-width="4" class="default-fill"></circle>
        <circle cx="350" cy="50" r="40" fill="#d5d6d6" stroke-width="4" class="default-fill"></circle>
        <circle cx="450" cy="50" r="40" fill="#d5d6d6" stroke-width="4"></circle>
    </svg>
    </td>
  </tr>
  <tr>
    <td>MongoDB </td>
    <td>
      <svg viewBox="0 0 500 100" id="FIELD_RATV" type="count">
        <circle cx="50" cy="50" r="40" fill="#576d7b" stroke-width="4" class="default-fill"></circle>
        <circle cx="150" cy="50" r="40" fill="#576d7b" stroke-width="4" class="default-fill"></circle>
        <circle cx="250" cy="50" r="40" fill="#d5d6d6" stroke-width="4" class="default-fill"></circle>
        <circle cx="350" cy="50" r="40" fill="#d5d6d6" stroke-width="4" class="default-fill"></circle>
        <circle cx="450" cy="50" r="40" fill="#d5d6d6" stroke-width="4"></circle>
    </svg>
    </td>
  </tr>
  <tr>
    <td>Angular 8 </td>
    <td>
      <svg viewBox="0 0 500 100" id="FIELD_RATV" type="count">
        <circle cx="50" cy="50" r="40" fill="#576d7b" stroke-width="4" class="default-fill"></circle>
        <circle cx="150" cy="50" r="40" fill="#576d7b" stroke-width="4" class="default-fill"></circle>
        <circle cx="250" cy="50" r="40" fill="#576d7b" stroke-width="4" class="default-fill"></circle>
        <circle cx="350" cy="50" r="40" fill="#d5d6d6" stroke-width="4" class="default-fill"></circle>
        <circle cx="450" cy="50" r="40" fill="#d5d6d6" stroke-width="4"></circle>
    </svg>
    </td>
  </tr>
  <tr>
    <td>Nodejs </td>
    <td>
      <svg viewBox="0 0 500 100" id="FIELD_RATV" type="count">
        <circle cx="50" cy="50" r="40" fill="#576d7b" stroke-width="4" class="default-fill"></circle>
        <circle cx="150" cy="50" r="40" fill="#576d7b" stroke-width="4" class="default-fill"></circle>
        <circle cx="250" cy="50" r="40" fill="#576d7b" stroke-width="4" class="default-fill"></circle>
        <circle cx="350" cy="50" r="40" fill="#d5d6d6" stroke-width="4" class="default-fill"></circle>
        <circle cx="450" cy="50" r="40" fill="#d5d6d6" stroke-width="4"></circle>
    </svg>
    </td>
  </tr>
  <tr>
    <td>React Native </td>
    <td>
      <svg viewBox="0 0 500 100" id="FIELD_RATV" type="count">
        <circle cx="50" cy="50" r="40" fill="#576d7b" stroke-width="4" class="default-fill"></circle>
        <circle cx="150" cy="50" r="40" fill="#d5d6d6" stroke-width="4" class="default-fill"></circle>
        <circle cx="250" cy="50" r="40" fill="#d5d6d6" stroke-width="4" class="default-fill"></circle>
        <circle cx="350" cy="50" r="40" fill="#d5d6d6" stroke-width="4" class="default-fill"></circle>
        <circle cx="450" cy="50" r="40" fill="#d5d6d6" stroke-width="4"></circle>
    </svg>
    </td>
  </tr>
     </table>
      </span>
      <span id="RSoftwares">
        <label for="RSoftwaresTB">Softwares <hr></label>
       <table id="RSoftwaresTB" border="0">
     <tr>
       <td>Adobe Xd</td>
       <td>
        <svg viewBox="0 0 500 100" id="FIELD_RATV" type="count">
          <circle cx="50" cy="50" r="40" fill="#576d7b" stroke-width="4" class="default-fill"></circle>
          <circle cx="150" cy="50" r="40" fill="#576d7b" stroke-width="4" class="default-fill"></circle>
          <circle cx="250" cy="50" r="40" fill="#576d7b" stroke-width="4" class="default-fill"></circle>
          <circle cx="350" cy="50" r="40" fill="#576d7b" stroke-width="4" class="default-fill"></circle>
          <circle cx="450" cy="50" r="40" fill="#d5d6d6" stroke-width="4"></circle>
      </svg>
       </td>
     </tr>
     <tr>
      <td>Figma </td>
      <td>
        <svg viewBox="0 0 500 100" id="FIELD_RATV" type="count">
          <circle cx="50" cy="50" r="40" fill="#576d7b" stroke-width="4" class="default-fill"></circle>
          <circle cx="150" cy="50" r="40" fill="#576d7b" stroke-width="4" class="default-fill"></circle>
          <circle cx="250" cy="50" r="40" fill="#576d7b" stroke-width="4" class="default-fill"></circle>
          <circle cx="350" cy="50" r="40" fill="#576d7b" stroke-width="4" class="default-fill"></circle>
          <circle cx="450" cy="50" r="40" fill="#d5d6d6" stroke-width="4"></circle>
      </svg>
      </td>
    </tr>
    <tr>
      <td>Photoshop </td>
      <td>
        <svg viewBox="0 0 500 100" id="FIELD_RATV" type="count">
          <circle cx="50" cy="50" r="40" fill="#576d7b" stroke-width="4" class="default-fill"></circle>
          <circle cx="150" cy="50" r="40" fill="#576d7b" stroke-width="4" class="default-fill"></circle>
          <circle cx="250" cy="50" r="40" fill="#576d7b" stroke-width="4" class="default-fill"></circle>
          <circle cx="350" cy="50" r="40" fill="#d5d6d6" stroke-width="4" class="default-fill"></circle>
          <circle cx="450" cy="50" r="40" fill="#d5d6d6" stroke-width="4"></circle>
      </svg>
      </td>
    </tr>
    <tr>
      <td>Ms Office </td>
      <td>
        <svg viewBox="0 0 500 100" id="FIELD_RATV" type="count">
          <circle cx="50" cy="50" r="40" fill="#576d7b" stroke-width="4" class="default-fill"></circle>
          <circle cx="150" cy="50" r="40" fill="#576d7b" stroke-width="4" class="default-fill"></circle>
          <circle cx="250" cy="50" r="40" fill="#576d7b" stroke-width="4" class="default-fill"></circle>
          <circle cx="350" cy="50" r="40" fill="#d5d6d6" stroke-width="4" class="default-fill"></circle>
          <circle cx="450" cy="50" r="40" fill="#d5d6d6" stroke-width="4"></circle>
      </svg>
      </td>
    </tr>
       </table>
        </span>
        <span id="Rlang">
          <label for="RlanTb">Languages <hr></label>
         <table id="RlanTb" border="0">
       <tr>
         <td>Telugu(Native)</td>
         <td>
          <svg viewBox="0 0 500 100" id="FIELD_RATV" type="count">
            <circle cx="50" cy="50" r="40" fill="#576d7b" stroke-width="4" class="default-fill"></circle>
            <circle cx="150" cy="50" r="40" fill="#576d7b" stroke-width="4" class="default-fill"></circle>
            <circle cx="250" cy="50" r="40" fill="#576d7b" stroke-width="4" class="default-fill"></circle>
            <circle cx="350" cy="50" r="40" fill="#576d7b" stroke-width="4" class="default-fill"></circle>
            <circle cx="450" cy="50" r="40" fill="#d5d6d6" stroke-width="4"></circle>
        </svg>
         </td>
       </tr>
       <tr>
        <td>English </td>
        <td>
          <svg viewBox="0 0 500 100" id="FIELD_RATV" type="count">
            <circle cx="50" cy="50" r="40" fill="#576d7b" stroke-width="4" class="default-fill"></circle>
            <circle cx="150" cy="50" r="40" fill="#576d7b" stroke-width="4" class="default-fill"></circle>
            <circle cx="250" cy="50" r="40" fill="#576d7b" stroke-width="4" class="default-fill"></circle>
            <circle cx="350" cy="50" r="40" fill="#d5d6d6" stroke-width="4" class="default-fill"></circle>
            <circle cx="450" cy="50" r="40" fill="#d5d6d6" stroke-width="4"></circle>
        </svg>
        </td>
      </tr>
      <tr>
        <td>Hindi </td>
        <td>
          <svg viewBox="0 0 500 100" id="FIELD_RATV" type="count">
            <circle cx="50" cy="50" r="40" fill="#576d7b" stroke-width="4" class="default-fill"></circle>
            <circle cx="150" cy="50" r="40" fill="#576d7b" stroke-width="4" class="default-fill"></circle>
            <circle cx="250" cy="50" r="40" fill="#576d7b" stroke-width="4" class="default-fill"></circle>
            <circle cx="350" cy="50" r="40" fill="#d5d6d6" stroke-width="4" class="default-fill"></circle>
            <circle cx="450" cy="50" r="40" fill="#d5d6d6" stroke-width="4"></circle>
        </svg>
        </td>
      </tr>
     
         </table>
          </span>
</div>
</div>
</div>
<hr class="endLineColor"> 
</div>
</div>
